.list {
	width: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.add_button {
	position: relative;
	width: calc(25% - 23px);
	min-height: 105px;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (max-width: 1024px) {
	.list {
		gap: 20px;
	}
	.add_button {
		width: calc(33.33% - 23px);
		border-radius: 10px;
	}
}
@media (max-width: 768px) {
	.list {
		gap: 14px;
	}
	.add_button {
		min-height: 80px;
		width: calc(50% - 7px);
		border-radius: 8px;
	}
}
@media (max-width: 500px) {
	.add_button {
		min-height: 70px;
	}
}
