.page_container {
	width: 100vw;
	height: 100%;
	min-height: 100%;

	display: flex;

	overflow: hidden;

	position: relative;
}
.page_container__left_column {
	position: relative;
	z-index: 2;
	background-color: #ffffff;

	border-right: 1px solid #c3c3c3;
	/* box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1); */
	max-width: 100px;
	width: 100%;
	flex: 1 1;

	transition: all 0.3s ease 0s;
}

.page_container__right_column {
	position: relative;
	z-index: 1;
	flex: 1 1;
	padding-top: 70px;

	overflow: hidden;
}

.overflow_container {
	display: block;
	margin: 0 auto;
	height: 100%;
	overflow-y: auto;

	padding: 50px 0;
}

@media (max-width: 1550px) {
	.page_container__right_column {
		padding-top: 65px;
	}
}

@media (hover: hover) {
	.page_container__left_column:hover {
		max-width: 300px;
	}
}

/* @media (hover: none) {
	.page_container__left_column {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		height: 100%;

		transform: translate(100%, 0);
	}

	.page_container__left_column .visible {
		transform: translate(0, 0);
	}
} */
@media (max-width: 1200px), (hover: none) {
	.page_container__left_column {
		position: absolute;
		top: 65px;
		left: 0;

		max-width: 100%;
		height: calc(100% - 65px);

		opacity: 0;
		overflow: hidden;

		transform: translate(100%, 0);
	}

	.page_container__left_column.visible {
		transform: translate(0, 0);

		opacity: 1;
	}
}

@media (max-width: 1024px) {
	.overflow_container {
		padding: 30px 0;
	}
}
@media (max-width: 768px) {
	.overflow_container {
		padding: 20px 0;
	}
	.page_container__right_column {
		padding-top: 55px;
	}
	.page_container__left_column {
		top: 55px;
		height: calc(100% - 55px);
	}
}
