.news_list {
	width: 100%;
	/* max-width: 580px; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}
.news_item {
	width: calc(50% - 10px);
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 7px #00000011;
}
.content {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 12px;
	gap: 10px;
	width: 100%;
	height: 100%;
	background-color: #faf9f8;
	border: 1px solid #faf9f8;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
.hover_el {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	height: 35%;
	border-radius: 40%;
	background-color: #004795;
	filter: blur(70px);
	opacity: 0;
	transition: all 0.4s ease 0s;
}
.news_item.yellow .hover_el {
	background-color: #d8b401c2;
}
.image_container {
	width: 100%;
	padding-top: 40%;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}
.news_item .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.content .text_container {
	padding-bottom: 10px;
}
.date {
	background-color: #c0ddfd;
	border-radius: 20px;
	color: #004795;
	padding: 4px 8px;
	width: fit-content;
	font-size: 12px;
	font-weight: 600;
}
.news_item.yellow .date {
	background-color: #f1e593;
	color: #957d00;
}
.title {
	font-size: 18px;
	font-weight: 500;
	color: black;
	margin-top: 16px;
	transition: all 0.3s ease 0s;
}
.text {
	font-size: 14px;
	color: #7d7d7d;
	margin-top: 12px;
}
@media (hover: hover) {
	.news_item:hover .content {
		border: 1px solid #0048956c;
	}
	.news_item.yellow:hover .content {
		border: 1px solid #e2bc0088;
	}
	.news_item:hover .title {
		color: #004795;
	}
	.news_item.yellow:hover .title {
		color: #957d00;
	}
}

@media (max-width: 768px) {
	.news_list {
		gap: 10px;
	}
	.title {
		font-size: 16px;
	}
	.text {
		font-size: 14px;
		margin-top: 12px;
	}
}
@media (max-width: 500px) {
	.news_item {
		width: 100%;
	}
}
