.chat {
	flex: 1 1 50%;
	/* padding-right: 10px !important ; */
}

.chat iframe {
	width: 550px;
	height: 90%;
	margin-top: 20px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

@media (max-width: 1550px) {
	.chat {
		width: 580px;
	}

	.chat iframe {
		width: 520px;
	}
}
@media (max-width: 1400px) {
	.chat {
		width: 500px;
	}

	.chat iframe {
		width: 440px;
	}
}

@media (max-width: 1300px) {
	.chat {
		width: 400px;
	}

	.chat iframe {
		width: 340px;
	}
}
@media (max-width: 1200px) {
	.chat {
		width: 100%;
	}

	.chat iframe {
		width: 500px;
	}
}

@media (max-width: 1024px) {
	.chat iframe {
		width: 100%;
		height: 420px;
		min-height: 420px;
	}
}
@media (max-width: 768px) {
	.chat {
		flex: 1 1 450px;
	}
	.chat iframe {
		width: 100%;
		height: 370px;
		min-height: 370px;
	}
}
