.chat {
	width: 700px;
	height: fit-content;
	background-color: #faf9f8;
	border-radius: 16px;
	padding: 30px 30px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}

.chat h3 {
	width: 100%;
	font-size: 20px;
	padding: 20px 25px 30px;
	border-bottom: 1px solid #cecece;
}

.chat iframe {
	width: 600px;
	height: 80vh;
	margin-top: 20px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

@media (max-width: 1550px) {
	.chat {
		width: 580px;
	}

	.chat iframe {
		width: 520px;
	}
}
@media (max-width: 1400px) {
	.chat {
		width: 500px;
	}

	.chat iframe {
		width: 440px;
	}
}

@media (max-width: 1300px) {
	.chat {
		width: 400px;
	}

	.chat iframe {
		width: 340px;
	}
}
@media (max-width: 1100px) {
	.chat {
		width: 100%;
	}

	.chat iframe {
		width: 500px;
	}
}
