.commets_container {
	margin-top: 15px;
}
.commets_h {
	font-weight: 500;
	padding-left: 10px;
}
.commets_container.full_screen .commets_h {
	font-size: 16px;
}
.commets_list {
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 222px;
	margin-top: 14px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.commets_container.full_screen .commets_list {
	height: 300px;
}
.commets_item {
	padding: 14px;
	border-radius: 4px;
	background-color: #faf9f8;
	transition: all 0.3s ease 0s;
}
.commets_item.active {
	animation-name: circle;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running;
}
.comment_user {
	display: flex;
	gap: 6px;
	align-items: center;
}
.comment_user img {
	border: 1px solid white;
	background-color: #cacaca;
	border-radius: 50%;
	height: 38px;
	min-height: 38px;
	min-width: 38px;
	width: 38px;
}
.commets_container.full_screen .comment_user img {
	height: 42px;
	min-height: 42px;
	min-width: 42px;
	width: 42px;
}
.commets_title {
	color: #004795;
	font-weight: 500;
}
.commets_container.full_screen .commets_title {
	font-size: 16px;
}
.commets_date {
	font-size: 12px;
	color: #7d7d7d;
	margin-top: 3px;
}
.commets_container.full_screen .commets_date {
	font-size: 14px;
}
.commets_text {
	width: 100%;
	max-width: 100%;
	text-wrap: wrap;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	font-size: 14px;
	line-height: 18px;
	margin-top: 16px;
}
.commets_container.full_screen {
	font-size: 16px;
}
@media (hover: hover) {
	.commets_list:hover {
		overflow-y: auto;
	}
}
@media (max-width: 1200px), (hover: none) {
	.commets_list {
		overflow-y: auto;
	}
	.commets_container.full_screen .commets_h,
	.commets_container.full_screen .commets_title {
		font-size: 14px;
	}
	.commets_container.full_screen .commets_date {
		font-size: 12px;
	}
}
@media (max-width: 600px) {
	.commets_item {
		padding: 10px 8px;
	}
	.commets_title {
		font-size: 14px;
	}
	.commets_text {
		font-size: 12px;
		line-height: 16px;
	}
	.comment_user img {
		border: 1px solid white;
		background-color: #cacaca;
		border-radius: 50%;
		height: 36px;
		min-height: 36px;
		min-width: 36px;
		width: 36px;
	}
}
@keyframes circle {
	0% {
		background-color: #faf9f8;
	}
	30% {
		background-color: #0048956c;
	}
	100% {
		background-color: #faf9f8;
	}
}
