.html_body {
	padding-top: 30px;
}
.html_body p {
	margin-bottom: 18px;
	line-height: 22px;
}
.html_body li {
	line-height: 24px;
	list-style-type: circle;
}
.html_body ul {
	list-style-type: circle;
	padding-left: 20px;
}
@media (max-width: 768px) {
	.html_body {
		padding: 14px !important;
	}
}
