.form {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 25px;
}
.input_block {
	margin-top: 15px;
	width: 100%;
	max-width: 500px;
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}

.input_block input {
	font-size: 16px;
	padding: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}
