.hero_section {
	position: relative;
	overflow: hidden;

	transition: all 0.3s ease 0s;
}

.hero_section__banner {
	margin-top: 50px;

	display: flex;

	background-color: #004795;
	/* background-image: url('../../../assets/img/bg-hero.svg'); */
	border-radius: 16px;

	transition: all 0.3s ease 0s;
}
.hero_section__content {
	width: 60%;
	padding: 60px 70px;
	padding-right: 50px;

	transition: all 0.3s ease 0s;
}
.hero_section__content p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: white;

	margin-top: 30px;
}
.hero_section__img {
	width: 40%;
	position: relative;
	transition: all 0.3s ease 0s;

	overflow: hidden;

	/* mask-image: linear-gradient(
		0deg,
		rgba(131, 58, 180, 0.1) 0%,
		rgba(121, 61, 187, 0.7) 10%,
		rgba(82, 71, 215, 1) 50%,
		rgba(37, 84, 247, 0.7) 90%,
		rgba(29, 86, 253, 0.1) 100%
	); */
}
.hero_section__list {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);

	width: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	animation-name: moveUp;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-delay: 1s;
}
.hero_section__item {
	width: 100%;
}
.hero_section__item img {
	width: 100%;
	border-radius: 10px;
}

@keyframes moveUp {
	0% {
		transform: translate(-50%, 0);
	}
	100% {
		transform: translate(-50%, calc(-50% - 7.5px));
	}
}

@media (max-width: 1024px) {
	.hero_section__banner {
		margin-top: 30px;
	}

	.hero_section__content {
		padding: 20px 20px;
	}

	.hero_section__content p {
		font-size: 14px;
		line-height: 16px;
		margin-top: 20px;
	}
}
@media (max-width: 768px) {
	.hero_section__banner {
		margin-top: 20px;
	}
}
@media (max-width: 650px) {
	.hero_section__banner {
		padding: 20px 20px;
	}
	.hero_section__content {
		width: 100%;
		padding: 0px;
	}
	.hero_section__img {
		display: none;
	}
}
