.error {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: white;
	padding-bottom: 30px;
}
.error_container {
	margin: 0 auto;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.error_img {
	width: 100%;
	max-width: 600px;
}
.error_row {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	padding: 0 20px;
}
.error_block {
	font-size: 16px;
	text-align: center;
	color: #7d7d7d;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.error_block:nth-child(1) {
	font-size: 20px;
	color: black;
}
.error_block:nth-child(2) {
	gap: 0px;
}

@media (max-width: 768px) {
	.error_img {
		width: 100%;
		max-width: 400px;
	}
}
@media (max-width: 550px) {
	.error_img {
		width: 100%;
		max-width: 300px;
	}
	.error_row {
		gap: 40px;
	}
}
