.news_row {
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: relative;
}
.overflow {
	font-size: 16px;
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #6e6e6ed2;
	border-radius: 10px;
}
/* .news_container {
	width: 50%;
	padding: 5px 10px 10px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	background-color: #faf9f8;
	border-radius: 10px;
	overflow: hidden;
} */
.news_container {
	width: 100%;
	height: 100%;
}
.news_container h3 {
	padding-top: 0;
}
.icon_link {
	padding-top: 0 !important;
	margin-top: -10px;
}
.news_list {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 30px;
}
/* .news_item {
	width: 100%;
	padding: 8px 10px;
	border-radius: 8px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	transition: all 0.3s ease 0s;
} */
.news_item {
	width: calc(50% - 10px);
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 7px #00000011;
	transition: all 0.3s ease 0s;
	display: flex;
	flex-direction: column;
	padding: 12px;
	gap: 10px;
	background-color: #faf9f8;
	border: 1px solid #faf9f8;
	overflow: hidden;
}

/* .item_img_container {
	position: relative;
	width: 26.7%;
	padding-top: 26.7%;
	overflow: hidden;
	border-radius: 5px;
} */
.item_img_container {
	width: 100%;
	padding-top: 40%;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}
/* .item_img_container img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
} */
.item_img_container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.news_item_content .date {
	background-color: #c0ddfd;
	border-radius: 20px;
	color: #004795;
	padding: 4px 8px;
	width: fit-content;
	font-size: 12px;
	font-weight: 600;
}
.news_item.yellow .news_item_content .date {
	background-color: #f1e593;
	color: #957d00;
}
.news_item_content p:nth-child(2) {
	font-size: 16px;
	font-weight: 500;
	color: black;
	margin-top: 16px;
	transition: all 0.3s ease 0s;
}
.news_item_content p:nth-child(3) {
	font-size: 14px;
	color: #7d7d7d;
	margin-top: 12px;
	padding-bottom: 5px;
}

@media (hover: hover) {
	.news_item:hover .hover_el {
		opacity: 1;
	}
	.news_item:hover .news_item_content p:nth-child(2) {
		color: #004795;
	}
	.news_item.yellow:hover .news_item_content p:nth-child(2) {
		color: #957d00;
	}
	.news_item:hover {
		border: 1px solid #0048956c;
	}
	.news_item.yellow:hover {
		border: 1px solid #e2bc0088;
	}
}

@media (max-width: 1024px) {
	.news_row {
		gap: 20px;
	}
	.news_list {
		gap: 20px;
	}
	.icon_link {
		padding-top: 0 !important;
		margin-top: 0px;
	}
}
@media (max-width: 768px) {
	.news_row {
		gap: 20px;
	}
	.news_list {
		gap: 10px;
		margin-top: 20px;
	}
}
@media (max-width: 550px) {
	.news_container {
		padding: 0;
	}
	.news_list {
		margin-top: 16px;
	}
}
@media (max-width: 500px) {
	.news_item.none_item {
		display: none !important;
	}
	.news_list {
		flex-wrap: wrap;
	}
	.news_item {
		width: 100%;
	}
	.news_item:nth-child(2) {
		display: none !important;
	}
}
