#root {
	height: 100%;
	min-height: 100%;
}
.App {
	height: 100%;
	min-height: 100%;
}

h1 {
	font-size: 28px;
	font-weight: 500;
}
h2 {
	font-size: 24px;
	color: white;
	font-weight: 500;
}
h3 {
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	padding: 20px 20px 10px;
}
h5 {
	font-size: 16px;
}

.content-container {
	max-width: 1400px;
	height: fit-content;
	margin: 0 auto;
	padding: 0 50px;
}
.section-container {
	padding: 10px 30px 30px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
	background-color: #faf9f8;
	border-radius: 16px;
}

.row {
	position: relative;
	display: flex;
	align-items: stretch;
	gap: 30px;
	margin-top: 30px;
}
.row.end {
	align-items: flex-start;
	justify-content: flex-end;
}
.column-60,
.column-55,
.column-50,
.column-45,
.column-40 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 30px;
}
.column-60 {
	width: 60%;
}
.column-55 {
	width: 55%;
}
.column-50 {
	width: 50%;
}
.column-45 {
	width: 45%;
}
.column-40 {
	width: 40%;
}
.sticky-position {
	position: fixed;
	transform: translate(calc(-100% + -30px), 0);
	top: calc(65px + 30px);
}
.sticky-position.sticky-position__bottom {
	z-index: 0;
	top: auto;
	bottom: 30px;
}

@media (max-width: 1200px) {
	.row {
		flex-direction: column;
		align-items: center;
	}
	.row.no-wrap {
		flex-direction: row;
		align-items: stretch;
	}
	.row.mobile-revers {
		flex-direction: column-reverse;
	}
	.column-60,
	.column-55,
	.column-50,
	.column-45,
	.column-40 {
		width: 100% !important;
	}
	.sticky-position {
		position: relative;
		transform: translate(0, 0);
		top: 0;
	}
	.sticky-position.sticky-position__bottom {
		bottom: 0px;
	}
}

@media (max-width: 1024px) {
	.content-container {
		padding: 0 30px;
	}
	.section-container {
		padding: 20px 20px 20px;
		border-radius: 10px;
	}
	.row {
		gap: 20px;
		margin-top: 20px;
	}
	.column-60,
	.column-55,
	.column-50,
	.column-45,
	.column-40 {
		gap: 20px;
	}

	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 18px;
		padding: 5px 10px 10px;
	}
}
@media (max-width: 768px) {
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}

	.content-container {
		padding: 0 15px;
	}
	.section-container {
		padding: 15px 15px 15px;
		border-radius: 8px;
	}
}

@media (max-width: 550px) {
	h3 {
		font-size: 16px;
		padding: 5px 10px 0px;
	}
	.row {
		column-gap: 10px;
	}
	.section-container {
		padding: 15px 6px 15px;
	}
}
