.tabs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 8px #00000014;
	width: 100%;
}
.tabs button {
	flex-grow: 1;
	min-width: 210px;
	padding: 10px 30px;
	background-color: white;
	font-size: 16px;
	color: #7d7d7d;
	transition: all 0.3s ease 0s;
}
.tabs button.active {
	background-color: #004795;
	color: white;
}
@media (hover: hover) {
	.tabs button:hover {
		background-color: #d9d9d9;
	}
	.tabs button.active:hover {
		background-color: #004795;
	}
}
@media (max-width: 768px) {
	.tabs button {
		flex-grow: 1;
		min-width: 170px;
		padding: 10px 15px 12px;
		background-color: white;
		font-size: 16px;
		color: #7d7d7d;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: 500px) {
	.tabs button {
		flex-grow: 1;
		min-width: 170px;
		padding: 8px 10px 10px;
		background-color: white;
		font-size: 14px;
		color: #7d7d7d;
		transition: all 0.3s ease 0s;
	}
}
